<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="true"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
         >
  <testsuite name="uds test">
    <directory>./tests</directory>
  </testsuite>
  <php>
    <var name="DBDSN" value="mysql:dbname=testuds;host=localhost" />
    <var name="DBSV" value="localhost" />
    <var name="DBNM" value="testuds" />
    <var name="DBUSER" value="testuds" />
    <var name="DBPASS" value="hhGJzU@Czrn3h3tTD" />
    <var name="DBDBNAME" value="testuds" />
  </php>
</phpunit>
