@import url('signin.css');


.row {
    margin-top: 10px;
}

.pagetitle {
}

h1 {
    font-size: 140%;
    font-weight: bold;
    color: #333;
}

.main {
    border: solid 1px #999;
    padding: 20px;
}

th {
    text-align: center;
}

td.center {
    vertical-align: middle;
    text-align: center;    
}

.qsttxt {
    width: 100%;
    height: 15em;
}

.anstxt {
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    
}

